fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-dotenv
alembic
passlib[bcrypt]
python-jose[cryptography]
razorpay
pymongo
cloudinary
reportlab
pandas
gunicorn