fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-dotenv
alembic
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
python-jose[cryptography]
razorpay
pymongo
cloudinary
reportlab
pandas
gunicorn